@page "/register"
@using Tangy.Models


<EditForm Model="SignupRequestDto" OnValidSubmit="RegisterUser" class="pt-4">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Sign Up</strong>
                        </h3>

                        @if (this.ShowRegistrationErrors)
                        {
                            <div>
                                @foreach(string error in this.Errors){
                                    <p class="text-danger text-center">@error</p>
                                }
                            </div>
                        }
                        <div class="py-2">
                            <InputText @bind-Value="SignupRequestDto.Name" class="form-control" placeholder="Name..." />
                            <ValidationMessage For="()=>SignupRequestDto.Name" />
                        </div>
                        <div class="py-2">
                            <InputText @bind-Value="SignupRequestDto.Email" class="form-control" placeholder="Email..." />
                            <ValidationMessage For="()=>SignupRequestDto.Email" />
                        </div>
                        <div class="py-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> +1</span>
                            </div>
                            <InputText @bind-Value="SignupRequestDto.PhoneNumber" class="form-control" placeholder="Phone number..." />
                            <ValidationMessage For="()=>SignupRequestDto.PhoneNumber" />
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <InputText type="password" @bind-Value="SignupRequestDto.Password" id="password" placeholder="Password..." class="form-control" />
                                <ValidationMessage For="()=>SignupRequestDto.Password" />
                            </div>
                            <div class="col py-2">
                                <InputText type="password" @bind-Value="SignupRequestDto.ConfirmPassword" id="confirm" class="form-control" placeholder="Confirm Password..." />
                                <ValidationMessage For="()=>SignupRequestDto.ConfirmPassword" />
                            </div>
                        </div>
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <button type="submit" class="btn btn-success btn-block"><i class="bi bi-person-plus-fill"></i> Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
